eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

spring:
  data:
    redis:
      url: ${REDIS_URL_PROD}